<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @score.player %>
</p>

<p>
  <b>Score:</b>
  <%= @score.score %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @score.timestamp %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
